<%= form_for(@assembly_sequence) do |f| %>
  <% if @assembly_sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assembly_sequence.errors.count, "error") %> prohibited this assembly_sequence from being saved:</h2>

      <ul>
      <% @assembly_sequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.text_field :car_id %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br>
    <%= f.text_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
